<!DOCTYPE html>
<html ng-app="sampleApp">

<head lang="en">
    <meta charset="UTF-8">
    <title>Bloc Base Project</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>


  <body ng-controller="SampleCtrl">
    <h1>testing</h1>
      <ul>
      <li ng-repeat="message in messages">
        <!-- edit a message -->
        <input ng-model="message.text" ng-change="messages.$save(message)" />
        <!-- delete a message -->
        <button ng-click="messages.$remove(message)">Delete Message</button>
      </li>
    </ul>
    <!-- push a new message onto the array -->
    <form ng-submit="addMessage()">
      <input ng-model="newMessageText" />
      <button type="submit">Add Message</button>
    </form>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAMuCByEjeAfDGcS8XPfC1ZrpQkTOgcuD8",
            authDomain: "bloc-firebase-chat.firebaseapp.com",
            databaseURL: "https://bloc-firebase-chat.firebaseio.com",
            storageBucket: "bloc-firebase-chat.appspot.com",
            messagingSenderId: "40223537220"
        };
        firebase.initializeApp(config);

    </script>
    <script src="/scripts/app.js"></script>
</body>

</html>
