<div>
    <h1>Chat Rooms</h1>
    <div ng-repeat="room in roomsCtrl.allrooms">
        <h2>{{room.roomName}}</h2>
        <ul>
            <li ng-repeat="user in roomsCtrl.allUsersInRoom">
                <h4>{{user}}</h4>
            </li>
        </ul>
    </div>


    <div>
        <input type="button" value="Add Room" ng-click="roomsCtrl.addRoom(roomsCtrl.newRoomName)">
        <input type="text" ng-model="roomsCtrl.newRoomName">
    </div>
    <div>
        <input type="button" value="Delete Room" ng-click="roomsCtrl.deleteRoom(roomsCtrl.roomName)">
        <input type="text" ng-model="roomsCtrl.roomName">
    </div>
</div>
